{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
  
  
    window.onload = function() {
      
      
     
      
    
    
     var mousePath = new paper.Path();
     mousePath.strokeColor = '#f5bcca';

    
    
      
      
      
      
      // websockets construction
    var socket = new WebSocket('wss://p3-websockets-ksaralle-cywang1998559048.codeanyapp.com/ws/draw');
     // what message to send
    tool.onMouseMove = function(event) {
        var x = event.point.x;
        var y = event.point.y;
        var coords = x + " " + y;
 
        // send the message
        setTimeout(function(){ socket.send(coords); }, 200);
    }
     // how to receive
    socket.onmessage = function(event) {
      var receivedMessage = event.data;
      var array = receivedMessage.split(" ");
      console.log("received array: " + array);
      console.log("array[0]: " + array[0] + " array[1]: " + array[1]);
      var x = array[0];
      var y = array[1];
      var newPoint = new paper.Point(array);
      console.log(newPoint);
      
  
      mousePath.add(newPoint);
      
    };
    // handle error  
    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    
    
      
    };
    

    


</script>
</html>
