{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>
  
    
    /*
    window.addEventListener(‘deviceorientation’, function(event) {
       // Device rotation around Y-axis, in degrees
      console.log(event.gamma + ‘deg’);
    }); */

    // setting up the canvas and one paper tool
  
  
    var canvas = document.getElementById('myCanvas');
  
    
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    /*
    if (url.indexOf("small") > -1) {
      // small display
				init(false);
			} else {
      // large display
				init(true);
			}
    */
    var colorArray = [];
    var clientArray = [];
    var pathArray = [];
  
    window.onload = function() {
    
     // the client in use
     var currentClient;
     // the client of this window
     var thisClient;
      
      // websockets connection
    var socket = new WebSocket('wss://p3-websockets-ksaralle-cywang1998559048.codeanyapp.com/ws/draw');
      
      var clientID = getNewID();
      currentClient = clientID;
  
      var thisColor = getNewRandomColor();
      clientArray.push(clientID);
      colorArray.push(thisColor);
      
      
     //console.log("clientID: " + clientID);
      
     
     // drawing
     var mousePath = new paper.Path();
     mousePath.strokeColor = getColor(currentClient);
     pathArray.push(mousePath);
    
      
      
     // what message to send
    tool.onMouseMove = function(event) {
        var x = event.point.x;
        var y = event.point.y;
        var coords = x + " " + y + " " + clientID + " " + thisColor;
 
        // send the message
        setTimeout(function(){ socket.send(coords); }, 100);
    }
     // how to receive
    socket.onmessage = function(event) {
      var receivedMessage = event.data;
      var array = receivedMessage.split(" ");
      //console.log("received array: " + array);
      //console.log("array[0]: " + array[0] + " array[1]: " + array[1]); 
      var newClient = array[2];
      var newColor = array[3];
      
      
      // make sure the color is right
      if (newClient != currentClient) {
      // if i change a window to draw, either a new client or an existent client
            if (clientArray.includes(newClient)) {
            // if it is an existent client
              mousePath = new paper.Path();
              mousePath.strokeColor = newColor;
              currentClient = newClient;
              pathArray.push(mousePath);
            } else {
            // if it is a newly created client
                //console.log("MIGHT BE WRONG HERE");
                clientArray.push(newClient);
                colorArray.push(newColor);
              
                //console.log(clientArray);
                //console.log(colorArray);
               //console.log("adding a new client");
              
                mousePath = new paper.Path();
                mousePath.strokeColor = newColor;
                currentClient = newClient;
                pathArray.push(mousePath);
            }
      }
      
      var coords = [array[0], array[1]];
      
      // draw lines
      if (url.indexOf("small") > -1) {
          // small display
            if (currentClient == clientID) {
               // shows if draw on this display itself
               var coords = [array[0], array[1]];
               var newPoint = new paper.Point(coords);
               //console.log(newPoint);
               mousePath.add(newPoint);
            } 
			} else {
            // large display, doesnt change, still shows everything
             var coords = [array[0], array[1]];
             var newPoint = new paper.Point(coords);
             //console.log(newPoint);
             mousePath.add(newPoint);
			}
    };
      
    // handle error  
    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    
    // shake event
    window.addEventListener('devicemotion', function(event) {
      if ((event.acceleration.x > 3) || (event.acceleration.y > 3) || (event.acceleration.z > 3)) {
          console.log("shaking");
          for (var i = 0; i < pathArray.length; i++) {
            pathArray[i].remove();
          }
          
           // var context = canvas.getContext('2d');
           // context.clearRect(0, 0, canvas.width, canvas.height);
      }
    }); 
      
    
      
     // tilting to the right
    window.addEventListener('deviceorientation', function(event) {
       // Device rotation around Y-axis, in degrees
      if (event.gamma > 10) {
        // console.log(event.gamma + 'color changed');
        // console.log("previous color: " + mousePath.strokeColor);
       // tilting to the right
          var changeColor = getNewRandomColor();
          var n = clientArray.indexOf(clientID);
          colorArray[n] = changeColor;
          mousePath = new paper.Path();
          mousePath.strokeColor = changeColor;
          pathArray.push(mousePath);
          //console.log("new color: " + changeColor);
      }
      //console.log(event.gamma + 'deg');
    });
    
      
      
    // ----------------------- helper functions -----------------------
      
    // clear canvas
     function clearCanvas() {
        var context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
     }
      
      
    // generate new clientID
      function getNewID() {
        var id = getRandomId();
        while (clientArray.includes(id)) {
            id = getRandomId();
        }
        return id;
      }
      
    // generate random clientID
      function getRandomId() {
        var letters = '0123456789';
        var id = '0';
        for (var i = 0; i < 8; i++) {
          id += letters[Math.floor(Math.random() * 10)];
        }
        return id;
      }
      
    // get the right color
    // each client has a corresponding color
     function getColor(client) {
       if (clientArray.includes(client)) {
           var n = clientArray.indexOf(client);
           return colorArray[n];
       } else {
           var newColor = getNewRandomColor();
           clientArray.push(client);
           colorArray.push(newColor);
           return newColor;
           console.log("there should be an error!")
       }
     }
      
    // get random color
     function getRandomColor () {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
     }
      
     // get a random color that wasnt used before
     function getNewRandomColor () {
       var color = getRandomColor();
       while (colorArray.includes(color)) {
              color = getRandomColor();
       }
       return color;
              
     }
      
    };
  
    
  
     
</script>
</html>
